[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
jupyterlab = "*"

[packages]
torch = "*"
cml = {editable = true,path = "."}
jupyterlab = "*"
torchvision = "*"

[requires]
python_version = "3.7"
